@model BookStoreAppCore.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4 class="offset-4">Forgot Password</h4>
    <hr />
    <div class="row">
        <div class="offset-4 col-md-4">
            @if(ViewBag.isSuccess==true)
            {
                <div class="alert alert-success"role="alert">
                    <p>Password reset link has been sent to your email address</p>
                </div>
            }
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

