@model BookStoreAppCore.Models.SignUpUserModel

@{
    ViewData["Title"] = "SignUpUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Sign Up</h4>
    <hr />
    <div class="row">
        <div class="col-md-6" >
            @if (ViewBag.isSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Verification link has been sent to your email address</p>
                </div>

            }

            <form asp-action="SignUpUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="~/images/SignUp.jpg" width="100%" height="100%"/>
        </div>
    </div>

</div>


