
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <div class="alert alert-danger"role="alert">
            <p>Access Denied</p>
            You are not allowed to perform this operation
        </div>
</div>